{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-4">Contact Us</h1>
<hr>
<!-- Form for user to send contact message to enternal email-->
<form method="POST" action="{% url 'contact' %}" id="contact-form" class="contact-form">
    {% csrf_token %}
    <div class="form-group-contact">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group-contact">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group-contact">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-secondary stnd-btn curved-btn" id="submit-btn">Send</button>
</form>
<hr>
<h2 class="find-us">Find Us</h2>
<div class="container map-container">
    <div id="map"></div>
</div>
{% include 'contact/includes/contact-message-script.html' %}
<!-- Google Maps-->
<script>
function initMap() {
  const myLatLng = { lat: 53.431856, lng: -2.180836 };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: myLatLng,
  });

  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });
}

window.initMap = initMap;
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs0nDsEZyzoI5O-EzBWU6n49cGHEIG4B8&callback=initMap" async defer></script>
  

{% endblock %}