{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Your Shopping Bag</h2>
            <hr class="w-100 mb-4">
        </div>
    </div>
    {% if bag_items %}
    <div class="row">
        <div class="col">
            <table class="table table-striped shopping-basket-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td>
                            {% if item.product.image %}
                              <img class="card-img-top img-fluid bag-shop-image" src="{{ item.product.image.url }}"
                                   alt="{{ item.product.name }}">
                            {% else %}
                              <img class="card-img-top img-fluid bag-shop-image" src="{% static 'images/no-image-icon.png' %}"
                                  alt="{{ item.product.name }}">
                            {% endif %}
                            <span class="bag-product-name">{{ item.product.name }}</span>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group quantity-input-group">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <button class="btn btn-link decrease-quantity" type="button">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                    </div>
                                    <input class="form-control quantity-input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                      data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                      <button class="btn btn-link increase-quantity" type="button">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <a class="update-link text-info"><small>Update</small></a>
                                  <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                      data-product_size="{{ item.size }}"><small>Remove</small></a>
                                  </div>
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </form>                                                           
                        </td>
                        <td>{% if item.product.has_sizes %} {{ item.size|upper }} {% else %} N/A {% endif %}</td>
                        <td>£{{ item.product.price }}</td>
                        <td>£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <h4 class="total-price">Total: £{{ total|floatformat:2 }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-4">
            <a href="{% url 'checkout' %}" class="btn btn-primary proceed-to-checkout-btn">Proceed to Checkout</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center mt-5">
            <p>Your shopping bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-primary continue-shopping-btn">Continue Shopping</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
{% include 'bag/includes/sweet_alert_script.html' %}
<script type="text/javascript">

    // Update quantity on form submit
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).closest('.update-form');
        form.submit();
    });

   // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>



{% endblock %}
