{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-sm">
            <div class="image-container">
                <img src="{% static 'images/runaway_event.png' %}" class="d-block img-fluid custom-image custom-image-280" alt="...">
                <img src="{% static 'images/IMG_7805.jpeg' %}" class="d-block img-fluid custom-image custom-image-280" alt="...">
                <img src="{% static 'images/shandy_runaway.png' %}" class="d-block img-fluid custom-image custom-image-280" alt="...">
                <img src="{% static 'images/IMG_7804.jpeg' %}" class="d-block img-fluid custom-image custom-image-280" alt="...">
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container intro-text">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4>Runaway Brewery makes great tasting modern British beer</h4>
                <p>
                    We are independently owned and brew by hand in small batches at our microbrewery in central
                    Stockport. Flavour and quality come first.</p>

                <p> As brewers, we respect brewing tradition though our beer is contemporary in style. </p>

                <p>As drinkers, we want to enjoy every beer that we make. For us, brewing is not just about the end
                    product, it's about the process, so it is worth doing right.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid img-md" src="{% static 'images/IMG_7807.jpeg' %}" alt="Brewery">
            </div>
        </div>
</section>

<section class="find-out-more">
    <div class="container">
        <div class="background-image"></div>
        <h4>Our Beer</h4>
        <p class="home-about">We brew a range of styles from hop forward pales and IPAs, to malt driven brown ales and porters; from yeast
            led Saisons, to beers inspired by place, era, or a specific ingredient

            All of our beers are unfiltered and unpasteurised, with the majority naturally conditioned by yeast in keg
            and bottle</p>
        <a href="{% url 'taproom' %}" class="btn stnd-btn">FIND US IN STOCKPORT</a>
    </div>
</section>

<section class="image-gallery">
    <div class="image-container-btm">
        <div class="d-block img-fluid">
            <img src="{% static 'images/IMG_7806.jpeg' %}" alt="Image 1">
        </div>
        <div class="d-block img-fluid">
            <img src="{%  static 'images/IMG_7808.jpeg' %}" alt="Image 2">
        </div>
        <div class="d-block img-fluid">
            <img src="{% static 'images/IMG_7807.jpeg' %}" alt="Image 3">
        </div>
    </div>
</section>

{% endblock %}