{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Message outlining what Coffee Now is about-->
<div class="jumbotron">
    <h1>Welcome to Tussock, the home of topographical tufts</h1>
</div>
<!-- Text and image about ethos of Coffee Now-->
<div class="container intro-text">
    <div class="row align-items-center">       
        <div>
            <img class="img-fluid img-sm" src="{% static 'images/20231024_162134.jpg' %}" alt="Raw Coffee Beans">
        </div>
    </div>
    <div class="row align-items-center">       
        <div>
            <p>
                Tussock is an artist-run business which creates topographical tufted rugs. Each of our artworks is
                hand-crafted and unique, recreating the rolling hills and sleepy valleys of the UK countryside.
                Commissions are open, so if you are interested in purchasing your own colourful floor piece, hanging
                tapestry, or artwork, please get in contact with us via our contact form.
            </p>
        </div>
    </div>
    <div class="row align-items-center">
        <div>
            <img class="img-fluid img-sm" src="{% static 'images/LOGO2.jpg' %}" alt="Coffee Bean Farm">
        </div>
    </div>
    <div class="row align-items-center">
        <div>
            <p>
                Tussock was born in 2022 when creator Jasmine Price couldn’t find the right rug for her apartment.
                Instead of buying a factory-made copy, she embarked upon the process of making a unique topographical
                piece inspired by her home town in Shropshire..
            </p>
        </div>
    </div>
    <div class="row align-items-center">
                <div>
            <img class="img-fluid img-sm" src="{% static 'images/20231024_162559.jpg' %}"  alt="Coffee In A Cup">
        </div>
    </div>
    <div class="row align-items-center">
        <div>
            <p>
                A year later, and one rug has become a business dedicated to recreating the beauty of the UK countryside
                in tufted form. Everything Tussock creates is inspired by the natural world and our rugs, tapestries and
                artworks can add a soft touch to any interior.

                Commissions for 2024 are now open. If you are interested in having a hand-finished, tufted rug which
                pictures the topography of somewhere special to you, please get in contact with us via our contact form.
            </p>
        </div>
    </div>
</div>
{% endblock %}