{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-sm">
            <div class="image-container">
                <img src="media/index/IMG_7804.jpeg" class="d-block img-fluid custom-image" alt="...">
                <img src="media/index/runaway_event.png" class="d-block img-fluid custom-image" alt="...">
                <img src="media/index/IMG_7805.jpeg" class="d-block img-fluid custom-image" alt="...">
                <img src="media/index/shandy_runaway.png" class="d-block img-fluid custom-image" alt="...">
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container intro-text">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4>Runaway Brewery makes great tasting modern British beer</h4>
                <p>
                    CoffeeNow takes great care in producing its coffee, using only the highest quality beans from around the
                    world. The process begins with sourcing the best coffee beans, which are then carefully roasted to bring
                    out their unique flavors and aromas. Our roasters use precision equipment to ensure that each batch of
                    beans is roasted to perfection.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid img-md" src="media/index/IMG_7807.jpeg" alt="Brewery">
            </div>
        </div>
</section>

<section class="find-out-more" style="background-image: url(media/index/IMG_7808.jpeg);">
    <div class="container">
        <h4>Our Beer</h4>
        <p class="home-about">We brew a range of styles from hop forward pales and IPAs, to malt driven brown ales and porters; from yeast
            led Saisons, to beers inspired by place, era, or a specific ingredient

            All of our beers are unfiltered and unpasteurised, with the majority naturally conditioned by yeast in keg
            and bottle</p>
        <a href="#" class="btn btn-sm btn-outline-secondary">FIND US IN STOCKPORT</a>
    </div>
</section>

<section class="image-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="media/index/IMG_7806.jpeg" alt="Image 1">
            </div>
            <div class="col-md-4">
                <img src="media/index/IMG_7808.jpeg" alt="Image 2">
            </div>
            <div class="col-md-4">
                <img src="media/index/IMG_7807.jpeg" alt="Image 3">
            </div>
        </div>
    </div>
</section>

{% endblock %}