<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' and message.message == 'Thank you for submitting! Someone will be in touch!' %}
    Swal.fire({
        icon: 'success',
        title: 'Thank you!',
        text: 'Thank you for submitting! Someone will be in touch!',
        showConfirmButton: false,
        timer: 3000
    });
    {% endif %}
    {% endfor %}
    {% endif %}
</script>