@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
    color: black;
}

h1, h2, hr {
    font-family: Oswald, sans-serif;
    color:#07b3a3;
}

.stnd-btn {
    background-color: #FFC107;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.curved-btn{
    border-radius: 5px;
}

.stnd-btn:hover{
    background-color: #c1541f;
}

/* Allauth Form Styling */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #07b3a3; /* text-secondary */
}

.allauth-form-inner-content input {
    border: 2px solid #07b3a3;
    margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFC107;
    border: 1px solid #FFC107;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content input[type='submit']:hover {	
	color: white;
    background-color: #FFC107;
    border-color: #FFC107;
}

.allauth-form-inner-content button:hover{
    background-color: #c1541f;
}

.login-home-btn{
    margin-right: 10px;
}

/* Header styling */

.nav-item {
    justify-content: space-between;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: #07b3a3;
}

.home-nav {
    background-color: white;
}

.navbar-toggler{
    background-color: #07b3a3;
}


.home-search{
    margin-left: 20px;
}

.search-btn{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover{
    background-color: #c1541f;
}

.search-bar{
    width: 200%;
}

.shop-icon {
    font-size: 16px;
    color: #07b3a3;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.banner{
    background-color: #FFC107;
}

.banner p{
    margin-top: 10px;
}


/* Footer Styling */

.footer-container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    letter-spacing: 60px;
    font-size: 20px;
}

.footer-social li a {
    color: #07b3a3;
    ;
}

.home-footer {
    margin-top: 10px;
    background-color: white;
}

.copyright {
    color: #07b3a3;
    padding-left: 30px;
}

/* Home page styling */

.about-section{
    margin-bottom: 30px;
}

.image-container-btm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-gallery img{
    width: 400px;
    height: 400px;
    padding-bottom: 10px;
}

.find-out-more {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.find-out-more .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
}

.find-out-more h4,
.find-out-more p.home-about,
.find-out-more a.btn {
    margin: 10px 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/images/IMG_7808.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

.custom-image {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: space-between;
}


.home-about{
    margin-top: 50px;
    color: #07b3a3;
    opacity: 1;
}

/* Shop Styling */

.shop-box{
    height: 100%;
    margin-top: 10px;
}

.custom-card {
    border: none;
    height: auto;
    margin-bottom: 10px;
}

.card.custom-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.row.shop-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-shop-image{
    height: 25rem;
}

.shop-view-details-btn{
    display: flex;
    flex-direction: column;
}

.shop-price{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* Shop Detail Page */

.shop-image-detail{
    height: 30rem;
}

.detail-btn{
    margin-top: 10px;
}


/* Add Product Styling */

.form .control-group .controls .textarea,
.form .control-group .controls .textInput,
.form .control-group .controls .numberinput,
.form .control-group .controls .urlinput,
.form .control-group .controls .select,
.form .control-group .controls .nullbooleanselect{
    border: 2px solid #07b3a3 !important;
}

.text-right a,
.text-right button{
    background-color: #FFC107;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.text-right a:hover,
.text-right button:hover{
    background-color: #c1541f;
}

/* Shopping bag Styling */

/* Basket pop up styling */

/* Styles for the pop-up container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4444;
    z-index: 1000;
}

/* Styles for the pop-up content */
.popup-content {
    background-color: #f4f1de;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Styles for the close button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Unique styles for the shopping basket */
  
.shopping-basket-table {
width: 100%;
border-collapse: collapse;
}

.shopping-basket-table th,
.shopping-basket-table td {
padding: 10px;
border-bottom: 1px solid #ddd;
}

.bag-shop-image {
height: 10rem;
width: auto;
object-fit: cover;
border-radius: 5px;
margin-right: 10px;
}

.bag-product-name{
    font-size: 12px;
}

.quantity-input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantity-input {
width: 50px;
text-align: center;
}

.decrease-quantity,
.increase-quantity {
background-color: #f8f9fa;
border: none;
cursor: pointer;
}

.update-link {
margin-right: 10px;
color: #c1541f;
cursor: pointer;
}

.remove-item {
color: #dc3545;
cursor: pointer;
}

.total-price {
font-size: 24px;
font-weight: bold;
color: #333;
}

.proceed-to-checkout-btn,
.continue-shopping-btn {
padding: 10px 20px;
font-size: 16px;
text-transform: uppercase;
color: #fff;
background-color: #FFC107;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.proceed-to-checkout-btn:hover,
.continue-shopping-btn:hover {
background-color: #c1541f;
}

/* Checkout Page Styling */

.checkout-tick:checked{
    width: 7%;
    background-color: #FFC107;
    color: #fff;
    border-color: #FFC107;
}

.form-check-input[type=checkbox]{
    width: 7% !important;

}

/* Wishlish Page Styling */

.wish-box{
    height: 100%;
    margin-top: 10px;
    width: 16rem;
}

.wish-custom-card {
    border: none;
    height: auto;
    margin-bottom: 10px;
    width: auto;
}

.card.wish-custom-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wish-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wish-shop-image{
    height: 20rem;
    width: auto;
}

.wish-delete-btn{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Profile Page styling */

.profile-update-form input,
.profile-update-form .control-group .controls .lazyselect{
    border: 2px solid #07b3a3 !important;
    margin-bottom: 10px;
}

.order-history-container{
    margin-top: 20px;
}

.order-history table thead,
.order-history table tbody tr{
    border: 2px solid #07b3a3;
}
  

/* Contact google maps */

#map {
    height: 400px;
    width: 100%;
    padding-bottom: 30px;
}

.map-container{
    padding-bottom: 20px;
}

.contact-form{
    padding: 20px;
}

.form-group-contact{
    margin-bottom: 10px;
}

.find-us{
    display: flex;
    justify-content: center;
}

/* Booking styling  */
.container-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .form-container {
    background-color: #f3f3f3;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .booking-label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .booking-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .booking-btn {
    background-color: #FFC107;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-btn:hover {
    background-color: #c1541f;
  }
  
  .booking-btn:disabled {
    background-color: #c1541f;
    cursor: not-allowed;
  }

/* Taproom styling */

.taproom-heading {
    text-align: center;
    font-size: 36px;
    color: #07b3a3; 
}

.section-divider {
    border: 1px solid #07b3a3; 
}

.taproom-jumbotron {
    padding: 20px;
    text-align: center;
}

.opening-hours {
    font-size: 24px;
    color: #07b3a3; 
}

.taproom-image {
    border-radius: 5px;
}

.plan-link, .find-us-link, .order-link, .delivery-link {
    color: #c1541f; 
    text-decoration: none;
    transition: color 0.2s ease;
}

.plan-link:hover, .find-us-link:hover, .order-link:hover, .delivery-link:hover {
    color: #c1541f; 
}

.bottle-shop-heading {
    color: #07b3a3;
    margin-bottom: 15px;
}


/* Delivery styling  */


.brewery-heading {
    text-align: center;
    font-size: 36px;
    color: #07b3a3;
}

.section-divider {
    border: 1px solid #07b3a3;
}

.delivery-info h3, .age-restriction h2, .click-collect h2 {
    color: #07b3a3; 
    margin-bottom: 10px;
}

.delivery-info p, .age-restriction p, .click-collect p {
    margin-bottom: 15px;
}

.click-collect a {
    color: #007bff; 
}

.click-collect a:hover {
    text-decoration: underline;
}


/* Trade Styling */

.trade-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.trade-heading {
    text-align: center;
    font-size: 36px;
    color: #07b3a3; /* Orange color */
}

.section-divider {
    border: 1px solid #07b3a3; /* Orange color */
}

.trade-area-heading,
.wholesale-distribution-heading {
    font-size: 24px;
    color: #07b3a3; /* Orange color */
}

.trade-portal-link,
.eebria-trade-link {
    color: #007bff; /* Blue color */
    text-decoration: none;
    transition: color 0.2s ease;
}

.trade-portal-link:hover,
.eebria-trade-link:hover {
    color: #0056b3; /* Darker blue color on hover */
}

.trade-features {
    list-style-type: disc;
    margin-left: 20px;
}

.get-in-touch {
    font-size: 20px;
    margin-top: 20px;
}

.contact-info {
    margin-left: 20px;
}

.trusted-distributors {
    list-style-type: circle;
    margin-left: 20px;
}

/* Styling for screen sizes from 280px */

@media only screen and (min-width: 280px) and (max-width: 379px){

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .custom-image{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .image-gallery img{
        width: 137px;
        height: 137px;
    }

    .copyright{
        display: flex;
        font-size: 8px;
        justify-content: space-evenly;
    }

    .footer-social{
        font-size: 13px;
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 30px;
    }

    /* Taproom page styling */

    .delivery-link{
        padding-bottom: 20px;
    }

    /* Booking Styling */

    .container-booking{
        width: 16rem;
        padding-left: 29px;
    }

    .form-group-booking{
        width: 10rem;
    }
}

/* Styling for screen sizes from 380px */
@media only screen and (min-width: 380px) and (max-width: 419px) {

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .custom-image{
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .copyright{
        display: flex;
        font-size: 12px;
        justify-content: center;
    }

    .image-gallery img{
        width: 170px;
        height: 170px;
    }

    .footer-social {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        letter-spacing: 40px;
        font-size: 13px;
    }

    /* Taproom page styling */

    .delivery-link{
        padding-bottom: 20px;
    }

    /* Booking page styling */

    .container-booking{
        margin-bottom: 40px;
    }
}

/* Screen sizes from 420px */

@media only screen and (min-width: 420px) and (max-width: 540px){

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .custom-image{
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .image-gallery img{
        width: 170px;
        height: 170px;
    }

    .copyright{
        display: flex;
        font-size: 12px;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
    }

    /* Taproom page styling */

    .delivery-link{
        padding-bottom: 20px;
    }

    /* Booking page styling */
    
    .container-booking{
        margin-bottom: 40px;
    }
}

/* Screen sizes from 541px */

@media only screen and (min-width:541px) and (max-width:819px){

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .custom-image{
        width: 200px;
        height: 200px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .image-container-btm{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-gallery img{
        width: 200px;
        height: 200px;
    }

    .copyright{
        display: flex;
        font-size: 12px;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
    }

    /* Taproom page styling */

    .delivery-link{
        padding-bottom: 20px;
    }

    /* Booking page styling */

    .container-booking{
        margin-bottom: 40px;
    }

}

/* Screen sizes from to 820px */

@media only screen and (min-width: 820px) and (max-width: 991px) {

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .custom-image{
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .image-container-btm{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-gallery img{
        width: 200px;
        height: 200px;
        padding-bottom: 10px;
    }

    .copyright{
        display: flex;
        font-size: 12px;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
    }

    /* Booking page styling */

    .container-booking{
        margin-bottom: 40px;
    }
}

/* Screen sizes from 992px to 1200px */

@media only screen and (min-width: 992px) and (max-width: 1200px){

    /* Index.html styling */

    .image-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .custom-image{
        width: 200px;
        height: 200px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .image-container-btm{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-gallery img{
        width: 200px;
        height: 200px;
        padding-bottom: 10px;
    }

}