@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
    color: black;
}

h1 {
    font-family: Oswald, sans-serif;
    color:black;
}

/* Header styling */

.nav-item {
    justify-content: space-between;
    font-size: 16px;
    margin-left: 2rem;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: #07b3a3;
}

.home-nav {
    background-color: white;
}

.navbar-toggler{
    background-color: #07b3a3;
}


.home-search{
    margin-left: 60px;
}

.search-btn{
    color: #07b3a3;
}

.shop-icon {
    font-size: 16px;
    color: #07b3a3;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    background-color: #FFDB58;
}

.banner p{
    margin-top: 10px;
}


/* Footer Styling */

.footer-container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    letter-spacing: 60px;
    font-size: 20px;
}

.footer-social li a {
    color: #07b3a3;
    ;
}

.home-footer {
    padding-top: 10px;
    background-color: white;
}

.copyright {
    color: #07b3a3;
}

/* Home page styling */

.about-section{
    padding-bottom: 10px;
}

.image-gallery .row {
    display: flex;
    justify-content: center;
}

.image-gallery .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.find-out-more {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; /* Adjust the height as needed */
    text-align: center;
    color: white;
    padding-top: 10px;
}

.find-out-more .container {
    padding: 20px;
}

.carousel-item img {
    max-width: 20%;
    max-height: 20%;
    object-fit: cover;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}