{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Wishlist</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <div class="row wish-row">
        {% for item in wishlist%}
        <div class="col-md-4 wish-custom-card">
            <div class="card mb-4 box-shadow wish-box">
                {% if item.product.image %}
                    <img class="card-img-top img-fluid wish-shop-image" src="{{ item.product.image.url }}"
                        alt="{{ item.product.name }}">
                {% else %}
                    <img class="card-img-top img-fluid wish-shop-image" src="/media/index/IMG_7804.jpeg"
                        alt="{{ item.product.name }}">
                {% endif %}
                <div class="card-body pb-0">
                    <div class="card-title">{{ item.product.name }}</div>

                    <small class="text-muted">£{{ item.product.price }}</small>
                </div>
                <a href="{% url 'delete_wishlist_product' product_id=item.product.id %}" class="btn btn-sm btn-outline-secondary wish-delete-btn stnd-btn">Delete Product</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'includes/wishlist-sweetalert-script.html' %}
{% endblock %}