{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container trade-container">
        <h1 class="trade-heading">Wholesale and Trade</h1>
        <hr class="section-divider">
        <p>Buying beer for wholesale and trade? Here's everything you need to know.</p>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="trade-area-heading">TRADE AREA</h3>
        <p><a href="https://app.sellar.io/suppliers/runaway/order" target="_blank" class="trade-portal-link">Sign in to our trade portal!</a></p>

        <p>Setting up an account is dead easy and will allow you to check our current stock and availability as well as our next delivery to your area. We offer free local delivery and ship kegs nationwide direct from the brewery.</p>

        <p>By signing up to a trade account through our online portal you can:</p>
        <ul class="trade-features">
            <li>Place orders online</li>
            <li>Check stock availability live</li>
            <li>Check shipping info</li>
            <li>Ability to pay direct online</li>
            <li>Accessible ordering history & invoices</li>
            <li>Instant messaging to ask questions, track orders & deliveries</li>
        </ul>

        <p class="get-in-touch">GET IN TOUCH</p>
        <p>We deliver our beer throughout the north west and can arrange pallet orders for the UK and beyond. If you want to stock our beer or would like further information we’d love to hear from you. Just get in touch with us at the brewery.</p>

        <p class="contact-info">
            Email: <a href="mailto:runawayci23@gmail.com">runawayci23@gmail.com</a><br>
            Phone: +44 (0)1234 567 890
        </p>
    </div>
</section>
<hr class="section-divider">

<section>
    <div class="container">
        <h3 class="wholesale-distribution-heading">WHOLESALE DISTRIBUTION</h3>
        <p><a href="https://www.eebriatrade.com/producer/show/127?r=runaway" target="_blank" class="eebria-trade-link">EEBRIA TRADE</a> - You can get fresh beer delivered direct from the brewery by ordering through Eebria online. There is no minimum order and we can deliver to anywhere in the UK. Find out what’s available</p>

        <p>Alternatively, try one of our trusted distributors:</p>
        <ul class="trusted-distributors">
            <li><a href="https://wdsgroup.co.uk/" target="_blank">WDS Group (North of England)</a></li>
            <li><a href="https://www.pigs-ears.co.uk/" target="_blank">Pigs Ears (London & South West)</a></li>
        </ul>
    </div>
</section>
{% endblock %}
