{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="brewery-heading">Plan Your Visit</h1>
    <hr class="section-divider">
    <p>Everything you need to know about visiting the Runway Brewery, including the Taproom, Beer Garden, Brewery Tours,
        and Bottle Shop</p>
</div>


<div class="container">
    <h3 class="visit-heading">VISITING THE BREWERY & TAPROOM IN STOCKPORT</h3>
    <p>We operate a Challenge 25 policy, so if you're lucky enough to look under 25 years old, please bring suitable ID.
    </p>

    <p><strong>Table Bookings</strong></p>
    <p>We do not offer table bookings, so feel free to visit at a time that suits you. When the weather is fine, we will
        also have lots of seating in our courtyard garden.</p>

    <p><strong>Card Only</strong></p>
    <p>We are operating as a card only venue and will encourage contactless payments as far as possible - so no cash at
        the moment (sorry).</p>

    <p><strong>Food & Drink Available</strong></p>
    <p>We are a brewery, so the focus of our taproom is beer BUT we also stock some excellent wines, independently
        produced cider, and soft drinks from our friends at Steep Soda.</p>
    <p>If you'd like to know what beers are pouring in advance of your visit, please check our <a
            href="https://www.instagram.com/runawaybrewery/" target="_blank" class="instagram-link">Instagram</a>.</p>
    <p>We offer bar snacks in the taproom and are hosting Honest Crust Sourdough Pizza in the courtyard garden in spring
        / summer (2023).</p>

    <p><strong>Toilets & Facilities</strong></p>
    <p>Our all toilet facilities are located inside the brewery and taproom. Our WCs are checked regularly and are
        managed to promote hygiene.</p>
    <p>We do have an accessible toilet with baby changing facilities located on the ground floor of our taproom.</p>

    <p><strong>Accessibility</strong></p>
    <p>Our building is situated over 3 floors with stairs between, though there is ramped access to the ground floor
        where the taproom & brewery are located. The ramped access is from the courtyard garden to the rear of the
        building. Please advise of any special requirements prior to your visit and we'll do our best to assist you.</p>
    <p>Please note: there are areas of uneven floors within the taproom.</p>

    <p><strong>Visiting With Pets & Children</strong></p>
    <p>Children are welcome but need to remain seated with you during your visit.</p>
    <p>Well-behaved dogs are welcome but must remain on a lead and supervised at all times. For the comfort of all
        customers please do not allow dogs on seats or tables.</p>
    <p>Although welcome in the taproom and beer garden, children and pets will not be allowed in production areas of the
        brewery.</p>
</div>
<hr class="section-divider">


<div class="container">
    <h3 class="brewery-tours-heading">BREWERY TOURS</h3>
    <p>Our tours and tastings take place at our brewery & taproom in central Stockport</p>
    <p>You must be 18 or over. We operate a challenge 25 policy, so if you're lucky enough to look younger than that,
        please be aware that you may be asked for ID.</p>
    <p>Brewery tours are limited to 16 people per session and last approx. 90 minutes.</p>

    <p><strong>After your tour</strong></p>
    <p>The Runaway taproom is open so feel free to stay on for a beer or two afterwards. We also sell bottles to take
        away and brewery t-shirts to remember your day.</p>

    <p><strong>Location, Brewery Environment and Accessibility</strong></p>
    <p>The brewery area is not heated so may be a little chilly at cooler times of the year.</p>
    <p>Our brewery and taproom are both accessible from the courtyard via ramped access. Please advise of any special
        requirements prior to your visit and we'll do our best to assist you.</p>
    <p>Please note: there are areas of uneven floors within the taproom.</p>
    <p>Children and animals will not be allowed in the brewery.</p>
</div>

<hr class="section-divider">


<div class="container">
    <h3 class="parking-transport-heading">Parking & Transport</h3>
    <p>There is no parking at the brewery. But who needs a car when you're coming to a brewery?</p>
    <p>The brewery is only 5 minutes walk from Stockport railway station, and 30 seconds walk from the Stockport Bus
        Interchange.</p>
    <p>We have space for bike parking in the courtyard to the rear of the brewery (bikes left at owners risk).</p>

    <p><strong>Tickets for Tours</strong></p>
    <p>You will need to download your ticket(s) at the end of the checkout process. Please bring either a printed
        ticket, or digital equivalent with you in order to check in on the day.</p>

    <p><strong>Changing Dates and Transferring Tickets</strong></p>
    <p>Please contact us if you wish to change the date of your tour. This is usually only possible if there is space on
        another tour.</p>

    <p><strong>Cancellations & Refunds</strong></p>
    <p>Tickets are refundable up to 7 days in advance of the tour (minus booking fee).</p>
</div>

{% endblock %}
