{% extends 'base.html' %}
{% load static %}

{% block content %}
<age-verification widgetid="10715" class="widgio-widget"></age-verification>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            <hr class="w-100 mb-1">
            {% if request.user.is_superuser %}
            <a id="shop-add-btn" class="btn btn-sm btn-outline-secondary shop-add-btn" href="{% url 'add_product'%}">Add</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector"
                    class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
        </div>
        <div>
            <p>
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <div class="row shop-row">
        {% for product in products %}
            <div class="col-md-4 custom-card">
                <div class="card mb-4 box-shadow shop-box">
                    {% if product.image %}
                        <img class="card-img-top img-fluid main-shop-image" src="{{ product.image.url }}"
                            alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid main-shop-image" src="{% static 'images/no-image-icon.png' %}"
                            alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body pb-0">
                        <div class="card-title">{{ product.name }}</div>
                        <div>
                            <a href="{% url 'product_detail' product.id %}"
                                class="btn btn-sm btn-outline-secondary stnd-btn shop-view-details-btn curved-btn">View Details</a>
                        </div>
                        <small class="text-muted shop-price">£{{ product.price }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}